.mcontainer {
overflow: hidden;

}

.filterDiv {
float: left;

/* background-color: #2196F3; */
/* color: #ffffff; */
width: 1100px;
line-height: 100px;
text-align: center;
margin-left: 10%;
margin-top: 20px;
display: none; /* Hidden by default */
}

/* .filterDiv img {
  box-shadow:1px 1px 13px #3E3E3E;
} */
/* The "show" class is added to the filtered elements */
.show {
display: block;

}

/* Style the buttons */
.btn {
border:none;
outline: none;
margin-right: 20px;
padding: 15px 46px;
background-color: #f1f1f1;
cursor: pointer;
font-size: 15px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.mactive {
background-color: rgba(13, 13, 13, 0.8);
color: #7ED321;
box-shadow:2px 1px 7px #3E3E3E;
font-size: 15px;

}

.buttons {
  margin-left: 60px;
  margin-top: 30px;

}
