body {
  background-color: white;
  margin:0px;
}


nav ul {
  list-style-type: none;
  padding: 0px 0px;
  overflow: hidden;
  text-align:center;
}

nav li {
  display:inline-block;

}

.tabs li a {
  display: block;
  color: white;
  font-style: normal;
  font-family: sans-serif;
  font-family: Roboto;
  text-align:center;
  padding: 0px 40px 0px 0px;
  text-decoration: none;
  margin-left: 40px;

}
.active{
color: #7ED321 !important;
/* font-size: 18px;
font-weight: 500; */
}


nav {
  position: absolute ;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(13, 13, 13, 0.8)




}

.titleLogo {
  text-align: center;
  padding-top: 10px;
}

.myvideo{
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100%;
  transform:translate(-50%, -50%);
}

.content{
  position:fixed;
  margin-top: 640px;
  margin-left: 650px;
    opacity: .80;

}

.social {
  float: right;
  margin-top: -115px;
  margin-right: 60px;


}

.social li{
    padding: 10px 0px 0px 20px;
}
li a:hover {
  background-color:;
color: #7ED321;

}

.aboutbanner > .banner-image {
  width: 100%;
  display: block;

}

/* Create three equal columns that floats next to each other */
* {
  box-sizing: border-box;
}

.column {
  margin-top: 10px;
  float: left;
  width: 50%;
  padding: 15px;
}

.para1{
  padding-left: 30px;
  padding-right: 60px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
  font-weight: lighter;

}
.para2{
  padding-left: 30px;
  padding-right: 80px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
  font-weight: lighter;
}
h1 {
  padding-top: 140px;
  font-size: 28px;
  text-align: center;
}


h2 {
  font-family: serif;
  padding-top: 20px;
}
.para1 li a {
  text-align: left;
}
h3 {
  font-size: 28px;
  text-align: center;
  padding-top: 20px;



}

.videos {

  padding-left: 450px;
  padding-top: 10px;

}
}
.container{
  padding-left: 40px;
  padding-top: 10px;




}
.container img {
  padding-left: 15px;

}

.row1 {

  padding-left: 140px;

}

.row2{

    margin-left: 140px;
}
.row1 img {
    margin-left: 20px;
box-shadow:14px 14px 57px #3E3E3E;

}
.row2 img {
box-shadow:14px 14px 57px #3E3E3E;
  margin-left: 20px;
  margin-top: 30px;
}

.box1{
  padding-top: 25px;
  padding-left: 25px;
}
.rectangle1 {
height: 380px;
width: 1300px;
background-color: white;
box-shadow:2px 1px 17px #3E3E3E;
margin-left: 65px;
margin-top: 50px;
margin-bottom: 50px;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

table {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 15px;
}
td {
  padding: 15px;
  text-align: center;
}

th {
  padding-top: 15px;
padding-bottom: 15px;

  background-color: rgba(13, 13, 13, 0.8);
/* color: #7ED321; */
color: #F5A623;
text-align: center;
font-family: sans-serif;
font-weight: 400;

}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
/* Clear floats after the columns */
.row:after {

  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
