body {
  background-color: white
}



ul {
  list-style-type: none;
  margin :0;
  padding: 0px 0px;
  overflow: hidden;
  text-align:center;

}

li {
  display:inline-block;


}

li a {
  display: block;
  color: white;
  font-style: normal;
  font-family: sans-serif;
  font-family: Roboto;
  text-align: left;
  padding: 10px 50px 10px 0px;
  text-decoration: none;
}

nav {


  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  opacity: .80;
}
.social{
  float:right;

}

li a:hover {
  background-color:;
  color: #7ED321;
}
